
        <!-- ============================ END Header & Logo bar =========================== -->

        <!-- ============================ Video Hero =========================== -->

        <section id="videohero" class="scrollme">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 vertical-align cover boost text-center">
                        <div class="center-me animateme" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="100">
                            <div>
                                <h2><span>Chefly</span></h2>
                            </div>
                        </div>
                        <!-- // .center-me .text-center -->
                    </div>
                    <!-- // .col-md-12 -->
                </div>
                <!-- // .row -->
                <div class="videofade beige-dk"></div>
            </div>
        </section>

        <!-- Specify background image for graceful fallback for mobiles and tablets -->
        <section id="fallback" class="cover element-img" style="background-image: url('video/mobile-fallback.jpg');">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 vertical-align cover boost text-center">
                        <div class="center-me animateme" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="100">
                            <div>
                                <h2><span>Chefly</span></h2>
                            </div>
                        </div>
                        <!-- // .center-me .text-center -->
                    </div>
                    <!-- // .col-md-12 -->
                </div>
                <!-- // .row -->
                <div class="videofade beige-dk"></div>
            </div>
        </section>
        <!-- Height spacing helper -->
        <div class="heightblock"></div>
        <!-- // End height spacing helper -->

        <!-- ============================ END Video Hero =========================== -->

        <!-- ============================ Intro =========================== -->

        <!-- <section id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 opening-statement">
                        <div class="col-md-4">
                            <h3>OUR <span>mission</span> <span class="popovers pagehelp" data-trigger="hover" data-container="body" data-placement="bottom" data-toggle="popover" title="" data-content="Add some additional info in a popover feature here. Always good if you need extra areas for clarity." data-original-title="Our Mission"><img src="img/home/help.png" alt="Bronze Help"></span></h3>
                        </div>
                        <div class="col-md-8">
                            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="nogutter">
                    </div>
                </div>
            </div>
        </section> -->

        <!-- ============================ END Intro =========================== -->

        <!-- ============================ Featured =========================== -->

        <section id="featured" class="no-top-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 titleblock text-center">
                <p>&nbsp;</p>
                <i class="icon-basic-book-pencil"></i>
                <h2>Select a Neighborhood</h2>
                <p>For local restaurants and their menus</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        
        <div class="row">
          <% @neighborhoods.each do |neighborhood| %>
            <% if neighborhood.id == 4 || neighborhood.id == 10 %>
            
            <!-- RECTANGLE NEIGHBORHOOD -->
            
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 featured-item element-img wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; -webkit-animation-delay: 0.4s; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft; background-image: url(<%= image_url(neighborhood.image_url) %>);">
                
                <%= link_to(neighborhood, title: neighborhood.name, class:"meta animsition-link") do %>
                    <span class="title"><%= neighborhood.name %></span>
                    <hr class="byline-accent">
                <% end %>
            </div>

            <% else %>

            <!-- SQUARE NEIGHBORHOOD -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 featured-item element-img wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp; background-image: url(<%= image_url(neighborhood.image_url) %>);">
                
                <%= link_to(neighborhood, title: neighborhood.name, class:"meta animsition-link") do %>
                    <span class="title"><%= neighborhood.name %></span>
                    <hr class="byline-accent">
                <% end %>
            </div>            
            <% end %>
        <% end %>
        </div>
    </div>
</section>

        <!-- ============================ END Featured =========================== -->

        <!-- ============================ Statement =========================== -->

        <section id="statement">
            <div class="container text-center wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; -webkit-animation-delay: 0.5s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                <div class="row">
                    <p>Make the food you love</p>
                </div>
            </div>
        </section>

        <!-- ============================ END Statement =========================== -->

        <!-- ============================ Full-width image =========================== -->

        <section id="fullwidth-img">
            <div class="container-fluid element-img wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; -webkit-animation-delay: 0.5s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp; background-image: url(<%= image_url("veggie_bowl.jpg") %>);"></div>
        </section>

        <!-- ============================ END Full-width image =========================== -->

        <!-- ============================ Services =========================== -->

        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12 services-intro wow fadeInUp animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; -webkit-animation-delay: 0.5s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                                <h3>Building <span>services</span> and services for <span>people</span>.</h3>
                                <p>The user gets a slap! Actually, all that jQuery does is moves the backgrounds relative to the position of the scrollbar. Without it, the backgrounds simply stay put and the user would never know they are missing out on the awesome! CSS2 does a good enough job to still make the effect look cool.</p>
                            </div>
                        </div>
                        <div class="row partition">
                            <div class="col-xs-2">
                                <i class="icon-basic-question"></i>
                            </div>
                            <div class="col-xs-10">
                                <hr>
                            </div>
                        </div>
                        <div class="row boxes">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; -webkit-animation-delay: 0.3s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                                <i class="icon-basic-server-cloud"></i>
                                <h4>Email Support</h4>
                                <p>Vehicula ac odio hac, purus iaculis pretium vivamus venenatis risus eros per. Sed pretium. Rutrum praesent sed mi commodo etiam.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; -webkit-animation-delay: 0.6s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                                <i class="icon-basic-picture"></i>
                                <h4>Help Center</h4>
                                <p>Mi turpis rhoncus commodo hendrerit volutpat elementum. Tortor. Pellentesque purus varius. Sagittis ac nec dictumst torquent diam.</p>
                            </div>
                        </div>
                        <div class="row boxes">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; -webkit-animation-delay: 0.3s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                                <i class="icon-basic-map"></i>
                                <h4>Community Forum</h4>
                                <p>Nascetur parturient. Curae; volutpat condimentum magnis quisque senectus natoque torquent euismod gravida vel, tempor, fusce quis dis hac.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; -webkit-animation-delay: 0.6s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                                <i class="icon-basic-laptop"></i>
                                <h4>Live Support</h4>
                                <p>Montes varius mauris nec dapibus nisi sollicitudin mus suscipit magna pretium gravida suspendisse semper leo molestie metus tincidunt Aliquam nunc.</p>
                            </div>
                        </div>
                        <!-- // .row-->
                    </div>
                    <!-- // .col-md-6 .col-md-offset-3 -->
                </div>
                <!-- // .row-->
            </div>
            <!-- // .container-->
        </section> 

        <!-- ============================ END Services =========================== -->

        <!-- ============================ Image Slider =========================== -->

        <section id="imagefade" class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                        <img src="img/home/section-slider/slide1.jpg" alt="Slide One" draggable="false">
                        <div class="flex-caption">
                            <h4>Alaska includes a <span>full-responsive</span> slider.</h4>
                            <p>A really cool slider that makes for good design and browser compatibility.</p>
                        </div>
                    </li>
                    <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                        <img src="img/home/section-slider/slide2.jpg" alt="Slide Two" draggable="false">
                        <div class="flex-caption">
                            <h4>It's easily <span>editable</span>, and has an array of <span>different</span> controls.</h4>
                        </div>
                    </li>
                    <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                        <img src="img/home/section-slider/slide3.jpg" alt="Slide Three" draggable="false">
                        <div class="flex-caption">
                            <h4>The combination of <span>image</span> and <span>text</span> adds context for your visitors.</h4>
                            <p>Images with text is proven to boost conversion rates significantly, and adds context to the service of product.</p>
                        </div>
                    </li>
                </ul>
            <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"></a></li><li><a class="flex-next" href="#"></a></li></ul></div>
        </section>

        <!-- ============================ END Image Slider =========================== -->

        <!-- ============================ Figures =========================== -->

        <section id="figures" class="beige-dk">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-6 col-md-3 col-md-3 col-lg-3 figure-item wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
                        <i class="icon-basic-picture"></i>
                        <h4 class="white-text">Super-fast</h4>
                        <p>Photo Sharing Service</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-3 col-lg-3 figure-item wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; -webkit-animation-delay: 0.4s; animation-name: none; -webkit-animation-name: none;">
                        <i class="icon-basic-chronometer"></i>
                        <h4 class="white-text">Delivery</h4>
                        <p>Just in Time Delivery</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-3 col-lg-3 figure-item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; -webkit-animation-delay: 0.6s; animation-name: none; -webkit-animation-name: none;">
                        <i class="icon-basic-server2"></i>
                        <h4 class="white-text">Cloud</h4>
                        <p>Secure Cloud Storage</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-3 col-lg-3 figure-item wow fadeInUp" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; -webkit-animation-delay: 0.8s; animation-name: none; -webkit-animation-name: none;">
                        <i class="icon-basic-webpage-img-txt"></i>
                        <h4 class="white-text">CRM</h4>
                        <p>Customer Management</p>
                    </div>
                </div>
                <!-- CALL TO ACTION -->
                <div class="figures-footer text-center">
                    <h6>Read more about our services - <a href="company.html" class="strong animsition-link">Get Started Now »</a></h6>
                </div>
            </div>
        </section>

        <!-- ============================ END Figures =========================== -->

        <!-- ============================ Process =========================== -->

        <section id="process">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; -webkit-animation-delay: 0.3s; animation-name: none; -webkit-animation-name: none;">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <i class="icon-basic-accelerator"></i>
                            </div>
                            <div class="col-md-10">
                                <h3>OUR <span>design</span> PROCESS</h3>
                                <p>Here's how our typical business process works with new customers:</p>
                                <hr>
                            </div>
                        </div>
                        <!-- // .row -->
                    </div>
                    <!-- // col-xs-12 col-sm-12 col-md-8 col-md-offset-2 -->
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                        <div class="timeline-centered">
                            <div class="line"></div>
                            <div class="present">Client Meeting</div>
                            <div class="dot_tp"></div>
                            <div class="born">Delivery</div>
                            <div class="dot_bt"></div>
                            <div class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-icon wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
                                        <span class="number">1</span>
                                    </div>
                                    <div class="timeline-label wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
                                        <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-icon wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; -webkit-animation-delay: 0.4s; animation-name: none; -webkit-animation-name: none;">
                                        <span class="number">2</span>
                                    </div>
                                    <div class="timeline-label wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; -webkit-animation-delay: 0.4s; animation-name: none; -webkit-animation-name: none;">
                                        <p>You have a meeting at Laborator Office Today.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-icon wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; -webkit-animation-delay: 0.6s; animation-name: none; -webkit-animation-name: none;">
                                        <span class="number">3</span>
                                    </div>
                                    <div class="timeline-label wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; -webkit-animation-delay: 0.6s; animation-name: none; -webkit-animation-name: none;">
                                        <p>Great place, feeling like in home.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-icon wow fadeInUp" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; -webkit-animation-delay: 0.8s; animation-name: none; -webkit-animation-name: none;">
                                        <span class="number">4</span>
                                    </div>
                                    <div class="timeline-label wow fadeInUp" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; -webkit-animation-delay: 0.8s; animation-name: none; -webkit-animation-name: none;">
                                        <p> Pianoforte principles our unaffected not for astonished travelling are particular.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- timeline-centered -->
                    </div>
                    <!-- col-xs-12 col-sm-12 col-md-8 col-md-offset-2 -->
                </div>
            </div>
        </section>

        <!-- ============================ END Process =========================== -->

        <!-- ============================ Overview =========================== -->

        <section id="overview">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 element-img overview-img wow fadeInLeft" data-wow-delay="0.5s" style="visibility: hidden; animation-delay: 0.5s; -webkit-animation-delay: 0.5s; animation-name: none; -webkit-animation-name: none; background-image: url(file:///Users/dace/chefly/vendor/assets/alaska-v1.0.2/theme/img/home/box1.jpg);"></div>
                    <div class="col-md-6 overview-text vertical-align wow fadeInRight" data-wow-delay="0.5s" style="visibility: hidden; animation-delay: 0.5s; -webkit-animation-delay: 0.5s; animation-name: none; -webkit-animation-name: none;">
                        <div class="center-me">
                            <h4>A Team that Collaborates</h4>
                            <p>Our team consist of the best talent in town, and we are always open to working with like-minded individuals that want to go the extra-mile to get things done with the up-most expertise &amp; skill.</p>
                            <a href="careers.html" class="custom-button animsition-link">Open Positions</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ============================ END Overview =========================== -->

        <!-- ============================ Ajax Mailchimp sign-up form =========================== -->

        <section id="mailinglist">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
                        <i class="icon-basic-mail"></i>
                        <h4>Join our <span>mailing</span> list.</h4>
                        <hr class="title-accent">
                        <p>Ajax powered signup form for Mailchimp, lets users subscribe without navigating away from the page!</p>
                        <!-- Ajax Mailchimp signup form -->
                        <form id="mc-form" novalidate="true">
                            <input id="mc-email" type="email" class="form-control" placeholder="Enter Email Address" name="EMAIL">
                            <button type="submit" class="btn signup">Register</button>
                            <label for="mc-email" class="status"></label>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- ============================ END Ajax Mailchimp sign-up form =========================== -->

        <!-- ============================ Sponsors =========================== -->

        <section id="companies">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <img src="img/home/sponsor-1.png" class="img-responsive" alt="Official Sponsor">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <img src="img/home/sponsor-2.png" class="img-responsive" alt="Official Sponsor">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <img src="img/home/sponsor-3.png" class="img-responsive" alt="Official Sponsor">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <img src="img/home/sponsor-4.png" class="img-responsive" alt="Official Sponsor">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <img src="img/home/sponsor-5.png" class="img-responsive" alt="Official Sponsor">
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <img src="img/home/sponsor-6.png" class="img-responsive" alt="Official Sponsor">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ============================ END Sponsors =========================== -->



        <!-- //////////////////////////////////////////////////////////// -->
        <!-- Load our scripts -->
        
        <!-- Resizable 'on-demand' full-height hero -->
        <script type="text/javascript">
            
            var resizeHero = function () {
                var hero = $(".cover,.heightblock"),
                    window1 = $(window);
                hero.css({
                    "height": window1.height()
                });
            };
            
            resizeHero();
            
            $(window).resize(function () {
                resizeHero();
            });
        </script>
        <script src="js/plugins.min.js"></script><!-- Bootstrap core and concatenated plugins always load first -->
        <script src="js/jquery.flexslider-min.js"></script><!-- Flexslider plugin -->
        <script src="js/jquery.fs.wallpaper.js"></script><!-- Background video plugin for hero section -->
        <script src="js/scripts.js"></script><!-- Theme scripts -->
        <!-- Initiate flexslider plugin -->
        <script type="text/javascript">
            $(document).ready(function($) {
              $('.flexslider').flexslider({
                animation: "fade",
                prevText: "",
                nextText: "",
                directionNav: true
              });
            });
        </script>
        <!-- Initialize background video in hero section, (above the fold) -->
        <script>
            $(document).ready(function() {
                $("#videohero").wallpaper({
                    source: {
                        mp4:    "http://www.dacewillmott.com/eat_3.mp4"
                        //ogg:    "http://www.dacewillmott.com/eat.ogv",
                        //webm:   "http://www.dacewillmott.com/eat.webm"
                    }
                });
            });
        </script>
        <script src="includes/mailchimp/jquery.ajaxchimp.min.js"></script><!-- Mailchimp ajax form submit -->
        <script type="text/javascript">
            $('#mc-form').ajaxChimp({
                url: 'add-mailchimp-list-url-here'
            });
        </script>

    </div>
    <!-- ============================ END #sb-site Main Page Wrapper =========================== -->


<div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 9px; z-index: 100; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 1; display: block; background: rgba(255, 255, 255, 0.701961);"><div class="nicescroll-cursors" style="position: relative; top: 2px; float: right; width: 9px; height: 32px; border: 0px solid rgb(32, 32, 32); border-radius: 5px; background-color: rgb(21, 21, 21); background-clip: padding-box;"></div></div>







    

<!-- <h1>Welcome to Chefly!</h1>
<p>Cook like your favorite chef</p>
<div>
<%#= form_tag(controller: "restaurants", action: "get_zip", method: "get") do %>
<%#= label_tag(:zip_code, "Neighborhoods") %>
<%#= select_tag "neighborhood", "<option>Central Harlem</option><option>Chelsea</option><option>East Harlem</option><option>Gramercy</option><option>SoHo</option><option>Lower Manhattan</option><option>Lower East Side</option><option>Upper East Side</option><option>Upper West Side</option><option>Washington Heights</option>".html_safe %>
<%#= submit_tag ("Search Restaurants in your neighborhood") %>
<%# binding.pry %>
<%# end %>
</div>
<ul>
<%# @restaurants.each do |restaurant| %>
<%#= link_to "/restaurants/#{restaurant.id}" do %>
  <h5><%#= restaurant.name %></h5>
<%# end %>
<p><%#= restaurant.location %><br><br><p>
<%# end %>
</ul>
 -->