
        <!-- ============================ Page Header =========================== -->

        <section id="page-header" class="element-img scrollme" style="background-image: url(<%= image_url("prep.jpg") %>)">
            <div class="container">
                <div class="row boost">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 vertical-align text-center">
                        <div class="animateme center-me" data-when="exit" data-from="0" data-to="0.6" data-opacity="0" data-translatey="120" style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
                            <h1><span><%= @restaurant.name %>'s Menu</span></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="headerfade beige-dk" style="opacity: 0.9;"></div>
        </section>
        
        <!-- ============================ END Page Header =========================== -->

        <!-- ============================ Page tabs =========================== -->

        <section id="pagetabs" class="boost">
            <div class="container">

                <!-- ============================ Page tabs =========================== -->

                <!-- <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <ul class="row page-nav">
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3"><a href="company.html" class="animsition-link" title="Company"><i class="icon-basic-book-pencil"></i>Company</a></li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3"><a href="values.html" class="animsition-link" title="Values"><i class="icon-basic-heart"></i>Values</a></li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3"><a href="team.html" class="animsition-link" title="Team"><i class="icon-basic-life-buoy"></i>Team</a></li>
                            <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3 active"><a href="careers.html" class="animsition-link" title="Careers"><i class="icon-basic-globe"></i>Careers <span class="badge jobs">4</span></a></li>
                        </ul>
                    </div>
                </div>
 -->
                <!-- ============================ END Page tabs =========================== -->

                <!-- ============================ Careers =========================== -->

                <div class="row">
                    <div class="col-md-6 col-md-offset-3 titleblock text-center">
                        <%= image_tag("plate.png", height: 50, class: "icon-plate") %>
                        <h2 class="section-heading">Please select a menu item</h2>
                        <p>Clicking on a menu item will take you to its similar recipe page</p>
                    </div>
                </div>
                
            

                <!-- <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; -webkit-animation-delay: 0.4s; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
                                <img src="img/careers/box.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; -webkit-animation-delay: 0.4s; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
                                <div class="apply">
                                    <h4>Think you've got what it takes?</h4>
                                    <h5><a href="contact.html" class="animsition-link" title="Apply Today">apply today</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 apply-meta">
                            <p>That's great! Head on over to our <a href="contact.html" class="animsition-link" title="Contact" style="color:#fff;text-decoration:underline">contact</a> page and send us an email to introduce yourself.</p>
                            <p>Need to send a CV? No problem. Please send your work history across to <span style="color:#fff;text-decoration:underline">email@address.com</span>, making sure you include a covering letter, for the attention of Mr. Smith.</p>
                        </div>

                   </div> 
                </div>-->

            </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <hr>
              <div class="row">
                <% @restaurant.dishes.each do |dish| %>
                  <div class="col-sm-4 col-md-4 credit wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; -webkit-animation-delay: 0.3s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                      <h5>
                        <%= link_to "/restaurants/#{@restaurant.id}/dishes/#{dish.id}" do %>
                          <%= dish.name %><br>
                        <% end %></h5>
                      <p class="description"><%= dish.description %></p>
                  </div>
                 <% end %>
              </div>
             
              <!-- <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div> -->
          </div>
          <!-- // .col-md-8 .col-md-offset-2 -->
        </div>

     

        <!-- ============================ END Page tabs =========================== -->


 
