<!DOCTYPE html>
<html>
<head>
  <title>Chefly</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<header>
</header>

<body id="careers" class="lightnav animsition  pace-done" style="animation-duration: 0.9s; -webkit-animation-duration: 0.9s; opacity: 1;"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="-webkit-transform: translate3d(100%, 0px, 0px); transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

    <!-- ============================ Off-canvas navigation ============================ -->

    <div class="sb-slidebar sb-right sb-style-overlay sb-momentum-scrolling" style="margin-right: -256px;">
        <div class="sb-close" aria-label="Close Menu" aria-hidden="true">
            <img src="img/global/close.png" alt="Close">
        </div>
        <!-- Lists in Slidebars -->
        <ul class="sb-menu">
            <li><a href="index.html" class="animsition-link" title="Image Hero">Start</a></li>
            <li><a href="index-video.html" class="animsition-link" title="Video Hero">Video Alt</a></li>
            <li><a href="company.html" class="animsition-link" title="Company">Company</a></li>
            <li><a href="values.html" class="animsition-link" title="Values">Values</a></li>
            <li><a href="team.html" class="animsition-link" title="Team">Team</a></li>
            <li><a href="careers.html" class="animsition-link" title="Careers">Careers</a></li>
            <!-- Dropdown Menu -->
            <li>
                <a class="sb-toggle-submenu">Portfolio<span class="sb-caret"></span></a>
                <ul class="sb-submenu">
                    <li><a href="portfolio.html" class="animsition-link" title="Filter Portfolio">Filter Portfolio</a></li>
                    <li><a href="portfolio-item.html" class="animsition-link" title="Portfolio Item">Portfolio Item</a></li>
                </ul>
            </li>
            <li><a href="faq.html" class="animsition-link" title="FAQ's">FAQ's</a></li>
            <li><a href="proposal.html" class="animsition-link" title="Start a Project">Start a Project</a></li>
            <li><a href="contact.html" class="animsition-link" title="Contact Us">Contact Us</a></li>
        </ul>
        <!-- Lists in Slidebars -->
        <ul class="sb-menu secondary">
            <li><a href="blog.html" class="animsition-link" title="T&amp;C's">Read the Blog</a></li>
            <li><a href="style-guide.html" class="animsition-link" title="Style Guide">Theme Style Guide</a></li>
        </ul>
        <ul class="sb-menu secondary">
            <li><a href="terms-conditions.html" class="animsition-link" title="T&amp;C's">Terms &amp; Conditions</a></li>
            <li><a href="privacy-policy.html" class="animsition-link" title="Privacy Policy">Privacy Statement</a></li>
            <li><a href="press-kit.html" class="animsition-link" title="Press Kit">Press Kit</a></li>
        </ul>
    </div>

    <!-- ============================ END Off-canvas navigation ============================ -->

    <!-- ============================ #sb-site Main Page Wrapper =========================== -->

    <div id="sb-site" style="min-height: 392px;">
    <!-- #sb-site - All page content should be contained within this id, except the off-canvas navigation itself -->

         <!-- ============================ Header & Logo bar =========================== -->

        <div id="navigation" class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Nav logo -->
                    <div class="logo">
                        <!-- <a href="index.html" title="Logo" class="animsition-link"> --><%= image_tag("logo.png", alt: "logo", height: 20) %>
                        <!-- </a> -->
                    </div>
                    <!-- // Nav logo -->
                    <!-- Info-bar -->
                    <nav>
                        <ul class="nav">
                            <li><a href="http://infinite-woodland-7224.herokuapp.com" class="animsition-link">Welcome to</a></li>
                            <li class="nolink"><span>Chefly</span></li>
                            <% if current_user == nil %>
                            <li class="active">
                              <%= link_to 'Sign-in', sign_in_path%>
                              <!-- <span class="sr-only">(current)</span></a> -->
                            </li>
                          <% else %>
                            <li>
                              <%= link_to 'Sign-out', sign_out_path, method: :delete%>
                            </li>
                            <li>
                              <%= link_to 'Favorite Recipes', favorites_path%>
                            </li>
                          <% end %>
                        </ul>
                    </nav>
                    <!--// Info-bar -->
                </div>
                <!-- // .container -->
                <div class="learnmore sb-toggle-right">Menu</div>
                <button type="button" class="navbar-toggle menu-icon sb-toggle-right" title="learn More">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar before"></span>
                <span class="icon-bar main"></span>
                <span class="icon-bar after"></span>
                </button>
            </div>
            <!-- // .navbar-inner -->
        </div>

        <!-- ============================ END Header & Logo bar =========================== -->


        <%= yield %>


       <!-- ============================ Footer =========================== -->

        <footer>
            <div class="container">
                <div class="row footer-top">
                    <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                        <ul class="f_grid1">
                            <li>
                                <div class="extra-wrap">
                                    <h5>Address</h5>
                                </div>
                                <div class="clearfix"> </div>
                            </li>
                        </ul>
                        <p class="m_14">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
                        <div class="address">
                            <p><i class="icon-basic-geolocalize-01"></i> 500 Lorem Ipsum Dolor Sit,</p>
                            <p><i class="icon-basic-life-buoy"></i> Phone:(00) 222 666 444</p>
                            <p><i class="icon-basic-mail-multiple"></i> Email: <span>help[at]email.com</span></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                        <ul class="f_grid1">
                            <li>
                                <div class="extra-wrap">
                                    <h5>Snapshot</h5>
                                </div>
                                <div class="clearfix"> </div>
                            </li>
                        </ul>
                        <p class="m_14">aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commod consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                        <ul class="f_grid1">
                            <li>
                                <div class="extra-wrap">
                                    <h5>Quick Links</h5>
                                </div>
                                <div class="clearfix"> </div>
                            </li>
                        </ul>
                        <div class="footer_lists">
                            <ul class="list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Screenshots</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                            <ul class="list1">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">figures</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 footer_grid">
                        <ul class="f_grid1">
                            <li>
                                <div class="extra-wrap">
                                    <h5>Just Another Area</h5>
                                </div>
                                <div class="clearfix"> </div>
                            </li>
                        </ul>
                        <p class="m_14">Another area to add some of your most vital content or links. You can use this area to show any content globally across the site.</p>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="copy">
                        <p>
                           Made with ♥ by Dace, Jahde, Simone and Jack.
                        </p>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="http://twitter.com/" target="_blank"><i class="social-icon-twitter"></i></a></li>
                            <li><a href="http://facebook.com/" target="_blank"><i class="social-icon-facebook"></i></a></li>
                            <li><a href="http://instagram.com/" target="_blank"><i class="social-icon-instagram"></i></a></li>
                            <li><a href="http://linkedin.com/" target="_blank"><i class="social-icon-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </footer>
        
        <!-- ============================ END Footer =========================== -->

        <!-- //////////////////////////////////////////////////////////// -->
        <!-- Load our scripts -->

        <script src="js/plugins.min.js"></script><!-- Bootstrap core and concatenated plugins always load first -->
        <script src="js/scripts.js"></script><!-- Theme scripts -->

    </div>
    <!-- ============================ END #sb-site Main Page Wrapper =========================== -->


  <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 9px; z-index: 100; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; opacity: 1; display: block; background: rgba(255, 255, 255, 0.701961);">
    <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 9px; height: 46px; border: 0px solid rgb(32, 32, 32); border-radius: 5px; background-color: rgb(21, 21, 21); background-clip: padding-box;">
    </div>
  </div>


</body>
</html>

