<!DOCTYPE html>
<html>
<head>
  <title>Chefly</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<header>
  <!-- <nav>
    <ul class="nav">
        <li><a href="index.html" class="animsition-link">Welcome</a></li>
        <li class="nolink">We are a <span>media</span> company that <span>surpasses</span> expectations</li>
        <li><a href="http://www.twitter.com/" title="Twitter" target="_blank"><i class="social-icon-twitter"></i></a></li>
        <li><a href="http://www.facebook.com/" title="Facebook" target="_blank"><i class="social-icon-facebook"></i></a></li>
        <li><a href="http://www.instagram.com/" title="Instagram" target="_blank"><i class="social-icon-instagram"></i></a></li>
        <li class="nolink"><span>Index</span></li>
    </ul>
</nav> -->
</header>
<body>
<div>
<center>
<%= yield %>
</center>
</div>

</body>
<footer>
<p>Made with <3 by Dace, Jahde and Simone</p>
</footer>
</html>
